

/* @import url('https://fonts.googleapis.com/css2?family=Lato&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
}

.messages{
    background-color: rgb(29, 29, 29);
    display: flex;
    padding: 30px;
    border-radius: 5px;
    flex-direction: column;
    width: 80vw;
}

.message{
    /* width:; */
}

.sent{
    background-color: rgb(64, 174, 182);
    min-width: 100px;
    min-height: 10px;
    max-width: 60vw;

}

.recieved{
    background-color: rgb(83, 83, 83);
    min-width: 100px;
}

.lr-sent{
    /* background-color: red; */
    flex-direction: row-reverse;
}

.lr-recieved{
    /* background-color: pink; */
}

.message-sent{
    /* background-color: red; */
    flex-direction: row-reverse;
}

.lr-recieved{
    /* background-color: pink; */
}

.inputv{
    width: 70vw;
    border-radius: 10px;
    height: 5vh;
    background-color: rgb(29, 29, 29);
}

.button{
    width: 8vw;
    border-color: white;
    border-radius: 5px;
    border: 5px;
}

.apple{
    height: 40px;
    background-color: black;
    color: white;
    width: 100px;

}

.sendbtn{
    background-color: rgb(50, 133, 139);
    color: white;
    font-size: 23px;
}

.sout{
    height: 50px;
    border-radius: 15px;
    background-color: rgb(112, 111, 111);
}

.ssout{
    height: 10px;
}



/* //----------------------------buttons */



.button{
    height: 50px;
    width: 200px;
    font-size:23px;
    background-color: rgb(71, 71, 71);
    

}

.button:hover{
    border: 3px solid #4534e2;
}


.buttonupload{
    height: 30px;
    width: 30px;
    font-size:20px;
    color: gray;
    padding-top: 3px;
    border-left: 100px;
    padding-right: 8px;
    padding-bottom: 20px;
    border-radius: 30px;
    background-color: #3b3b3b;
    /* padding-left: 40px; */
    /* border-radius: 18px; */
    /* background-color: ; */
    display: flex;
    flex-direction: row-reverse;
    

}

.buttonupload:hover{
    /* border: 3px solid #4534e2; */
}



.closebtn{
    height: 40px;
    width: 90px;
    margin-top: 5px;
    margin-right: 5px;
    color: white;
    font-size:23px;
    border-radius: 18px;
    background-color: rgb(71, 71, 71);
    
}




/* //------------------------------------------------------ */



.routerdiv{
    /* display: inline-block; */
    width: auto;
    margin: 0;
    padding: 0;
}

.testroom{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #272727 ;
    min-height: auto;
    /* background-color: aqua; */

}

.cnt{
    height: auto;
    width: 80vw;
    padding: 30px;
    background-color: blue;
}

.spacex{
    height: 40px;
}

.sent{
    background-color: rgb(153, 255, 0);
    
}
.recieved{
    background-color: lightseagreen;
}

.popuppp{
    position: absolute;
    bottom: 40vh;
    left: 20vw;
    height: auto;
    width: auto;
    color: white;
    background-color: rgba(0, 0, 0, 0.535);
    
}

.popupp{
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    height: 5vh;
    width: 40vw;
}
.filesu{
    background-color: rgb(0, 0, 0);
    height: 30vh;
    width: 40vw;
}
.centerrr{
    z-index: 2;
}

.message-input{

    background-color:#a97835;
    height: 30px;
    width: 60vw;
    font-size: 16px;
    border: none;
    background-color: transparent;
    resize: none;
    caret-color: #EAC696;
    color: rgb(204, 204, 204);
    outline: none;
}

.dd{
    height: 50px;
    padding-left: 1.5vw;
    background-color: #1E1E1E;
    padding-right: 1.5vw;
}
.yesss{
    /* width: 100vw; */
}



/* //----------------------------------------------- */

.photooo{
    width: 30px;
    height: 30px;
    border-radius: 5px;
}


.message1{
    display: flex;
    min-height: 50px;
    /* flex-direction: row-reverse; */
}

.message32:hover{
    color: #4534e2;
}

.k1{
    /* height: 20px; */
}

.imageee{
    border: #414A4C solid 7px;
    border-radius: 10px;
    border-top-right-radius: 0px;
    /* border-radius: 10px; */
    max-width: 500px;
}
.universe{
    min-height: 100vh;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: -17px; /* Increase/Decrease this value for cross-browser compatibility */
    overflow-y: scroll;
}
.videooo{
    max-width: 500px;
    border-radius: 10px;
    
}
.jj{
    width: 100vw;
}
.message2{
    min-height: 40px;
}





.msg-container-outline{
    /* padding: 7px; */
  
}
.img-deco{

}


.borderdiv{
    border-left: #414a4c  1px solid;
    border-right: #414a4c  1px solid;

}


.allmessages{
    /* border-left: #414a4c  1px solid; */
    padding-left: 200px;
    padding-right: 200px;
    background-color: #272727;
}



.m-deco{
    /* background-color: rebeccapurple; */
    min-height: 10px;
}
.m-deco-txt{
    max-width: 400px;
    min-width: 40px;
    font-size: 17px;
    min-height: 30px;
    word-wrap: break-word;
    /* background-color: aqua; */
}

.m-sent{
    border-radius: 10px;
    border-top-right-radius: 0px;
    color: white;
 
    background-color:  #2979FF;
    
    /* background-color:#c08f4f; */
}
.m-recieved{
    border-radius: 10px;
    color: #CCCCCC;
    display: flex;
    /* flex-direction: row-reverse; */
    word-wrap: break-word;

    background-color:  #1E1E1E ;
    border-top-left-radius: 0px;
}
.universe::-webkit-scrollbar {
    display: none;
  }
.scroll-god::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .example {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

.universe{
    background-color: #121212;
    /* overflow: hidden;  */
    /* height: 100vh; */
}

.texts{
    min-height: 76vh;
    min-width: 700px;
    padding: 40px;
    font-family: 'Nunito', sans-serif;
    /* background-color: rgb(255, 0, 170); */
    /* background-color: #cd9f61; */
    
}
.room-banner{
    background-color: #161616e1;
    color: white;
    height: 70px;
    box-shadow: 0px 0px 60px -18px #000;
    /* font-family: 'Libre Baskerville', serif; */
    /* font-size: 40px; */

    /* background-image: linear-gradient(#65451F, #EAC696); */

    border-bottom: #414a4c  1px solid;
}
.room-banner-2{
    background-color: #161616;
    color: white;
    height: 70px;
    /* box-shadow: 0px 0px 60px -18px #000; */
    font-family: 'Libre Baskerville', serif;
    /* border-bottom-left-radius:20px ;
    border-bottom-right-radius:20px ; */
    /* background-image: linear-gradient(#65451F, #EAC696); */

    /* border-bottom: #414a4c  1px solid; */
}
.room-banner-3{
    background-color: #161616;
    color: white;
    height: 70px;
    box-shadow: 0px 0px 60px -18px #000;
    /* font-family: 'Libre Baskerville', serif; */
    /* border-bottom-left-radius:20px ;
    border-bottom-right-radius:20px ; */
    /* background-image: linear-gradient(#65451F, #EAC696); */

    /* border-bottom: #414a4c  1px solid; */
}
.roomname{
    font-size: 37px;
    font-family: 'EB Garamond', serif;
}
.tt2{
    /* width: 45vw;
     */
     /* border-left: #414a4c  1px solid; */
     /* border-right: #414a4c  1px solid; */
width: 100%;
min-height: 100vh;

/* max-height: 100vh; */
display: flex;
flex-direction: column;
justify-content: space-between;


    }

    .message-input::placeholder{
        color:gray ;
    }
    .msg-send-btn{
    background-color:rgb(61, 61, 61);
    border-radius: 100px;
    color: gray;

    

        /* background-color: red; */
        height: 30px;
        width: 80px;
        font-size: 15px;
    }
    .uare{
        border-left: 10px;
        color: black;
        font-size: 200px;
    }
    .user-name{
        font-size: 12px;
        margin: 0px;
        padding: 0px;
    }
    .msg-padding{
        /* padding-left: 100px; */
    }



.loading-scr{
    background-image: url("./assets/images/pikachu-running.gif");
    background-color: red;
    z-index: 9;
}
.messages{
    min-height: 82vh;
}

.msg{
    box-shadow: 0px 0px 60px -18px #000;
    border-left: #414a4c  1px solid;
    border-right: #414a4c  1px solid;

}


.nochat{
    width: 100%;
    height: 100%;
    background-color:  #272727;
    font-family: 'EB Garamond', serif;
    font-size: 30px;
    color: #6e6e6e;
    align-items: center;
    flex-grow: 9; 
}





/* //---------------------------------------------video -----------------------------------------*/

.video{
    /* background-color: lightyellow; */
    border-radius: 10px;
}

.vidbtn{
    background-color: #272727;
    height: 35px;
    width: 120px;
    border-radius: 5px;
    
}



    /* //--------------------------------------left side universe----------------------------- */

    .leftsideuniverse{
        /* width: 30vw; */
        /* background-color: green; */
        flex-grow: 2;
     
    }  
    .routerdiv{
        flex-grow: 2;
        min-width: 79.5vw;
    }
 
    .Rightsideuniverse{
        /* width: 30vw; */
        /* background-color: green; */
        /* background-color: red; */
        /* flex-grow: 10; */
    }

    .left-god{
        /* background-color: #C8AE7D; */
        /* background-color: #C8AE7D; */
        /* position: relative; */
        /* top: 0px; */
        /* background-color: #000; */
        min-height:100vh ;
        /* overflow-y: scroll; */
        


    }

    .roomattopstick{
        top: 70px;

    }
    .scroll-god{
        min-height:90vh ;
        /* overflow: auto; */
        /* overflow-y: scroll; */
                /* overflow-y: scroll; */


    }




    .room-deco-out{
        /* visibility: hidden; */
        display: flex;
        font-family: 'Libre Baskerville', serif;

        flex-direction: row;
        padding: 15px;
        /* justify-content: space-between; */
        border-bottom: #414a4c solid 0px;
    }
    .click-chat{
        /* background-color: red; */
        border-radius: 7px;
    }
    .click-chat:hover{
        background-color: #222627;
    }
    .room-photo-l{
        height: 40px;
        border-radius: 5px;
    }

    .room-deco-l{
        /* background-color: red; */
    }
    .twins{
        width: 10px;
        /* background-color: red; */
        height: auto;
    }

















    /* //------------------------------------------rught univ */


    .card{
        height: 90px;
        border-radius: 7px;
        /* width:; */
        background-color: #181818;
    }
    .card-2{
        height: 140px;
        border-radius: 7px;
        /* width:; */
        background-color: #181818;
    }
    .card-3{
        padding: 9px;
        height: 140px;
        border-radius: 7px;
        /* width:; */
        background-color: #181818;
        /* border: 10px solid black; */
        border-radius: 7px;
    }
    .card-31{
        padding: 9px;
        height: 290px;
        border-radius: 7px;
        /* width:; */
        background-color: #181818;
    }
    .tren-heading{
        font-family: 'Libre Baskerville', serif;
        display: flex;
        align-items: center;
        justify-content: center;
        /* background-color: white; */
        font-size: 20px;
    }

    .card-hover:hover{
        background-color: #2c3031;
    }
  .authentication{
    width: 700px;
    background-color: #2979FF;
  }










.hpage{
    /* background-color:  #1E1E1E ; */
    /* overflow-y: scroll; */
    /* position: absolute; */
}
.navbar{
    background-color:  #252525d0;
    color: #ffffff;
    width: 100vw;
    height: 50px;
    backdrop-filter: blur(7px);
    border-bottom: 1px solid rgb(58, 58, 58);
}
.navbtn{
    background-color: #007BFF;
    color: #CCCCCC;

    border-radius: 20px;
    height: 30px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 2px;
}
.navbtn3{
    background-color:  #6A5ACD;
    color: #CCCCCC;
    border-radius: 20px;
    height: 30px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 2px;
}
.navbtn4{
    background-color:  #007BFF;
    font-size: 20px;
    font: bold;
    color: #ffffff;
    border-radius: 30px;
    height: 47px;
    padding-left: 23px;
    padding-right: 23px;
    padding-bottom: 2px;
    box-shadow: #222627 0px;
    
}
.a3{
    width: 55vw;
}
.fon{
    align-items: center;
    padding-top: 3px;
    font-family: 'Libre Baskerville', serif;
font-size: 17px;

}
.mon:hover{
    color: #c4c4c4;
    cursor: pointer;
/* text-shadow: wheat 0px 0px px; */
}
.fon:hover{
    cursor:default;
/* text-shadow: wheat 0px 0px px; */
}










.quote1{
    /* background: -webkit-linear-gradient(#eef1ff , #777bb9 95%); */
    background: -webkit-linear-gradient(#eef1ff, #5aa2f0  50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.c1{
    align-items: center;
    /* font-family: 'Lato', sans-serif; */
    font-family: 'Raleway', Helvetica;
    
        font-size: 70px;

}
.c2{
    font-size: 25px;
    /* font-family:Arial, Helvetica, sans-serif; */
    /* font-family: 'Raleway', sans-serif; */
}
.d1{
    /* font-family: 'Raleway', sans-serif; */
    color: #7a7da3;
 

    width: 55vw;
}
.img1{
    /* position: absolute; */
    width: 120vw;
}
.img2{
    width: 300px;
    height: 200px;
    border-radius: 10px;
    border: 1px solid rgb(46, 46, 46);
    opacity: 0.5;
}
.a4{
    width: 70vw;
}
.d2{
    font-size: 20px;
    font: bold;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
}
.line1{
    width: 60vw;
background-color: #000;
 
    height: 1px;
}
.line2{
    /* width: 45vw; */
    width: 60vw;
    background-color: #000;

    height: 1px;
}
.line3{
    /* width: 25vw; */
    width: 60vw;
background-color: #000;
    height: 1px;
}
body{
    overflow: hidden;
    position: relative;}

    